
.row{
    height: 620px;
    
}
.loginborder{
    border: 1px solid black;
    text-align: center;
    /* background-color:rgba(0,0,0,0.5); */
    /* background-color: white; */

    border-radius:10px;
    
    margin-right:100px;
    height: 500px;
    font-family: sans-serif;
    box-shadow: 2px 2px 15px;
}

.content{
    color: black;
    margin-top: 50px;
    font-style: bold;
}
.detailes
{   
    padding:10px;
    margin:10px 0;

}
.btn{
   border-radius: 15px;
    width: 300px;
    color: aliceblue;
    font-style: bold;
    font-size: 15px;
    background-color: black;
}
.link{
    color: aliceblue;
}
.input-box{
    width: 300px;
    height:30px;
    border-radius: 6px;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
    
}
.forget{
    margin-top: 15px;
}