*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: url(admin_bg.jpg);
    background-repeat: no-repeat;
   background-position: center;
    background-size: cover;
    height:150vh;
    width:100vw;
}
.main{
    width:500px;
    margin: 40px 150px;
}
h1{
    text-align: center;
    padding: 20px;
    color:lightpink;
}
.register{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    font-size: 20px;
    border-radius: 15px;
    border:1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.6);
    color:white;
}
form#register{
    margin: 40px;
}
label{
    font-size: 20px;
}
input#name{
    width:200px;
    margin-left:32px ;
    outline: none;
    border-radius: 4px;
    padding: 7px;
    font-size:16px ;
    border:1px solid #ddd;
    background-color:white ;
    
}
input#email{
    width:200px;
    margin-left:15px ;
    outline: none;
    border-radius: 4px;
    padding: 7px;
    font-size:16px ;
    border:1px solid #ddd;
    background-color:white ;
}
input#Add1{
    width:200px;
    
    outline: none;
    border-radius: 4px;
    padding: 7px;
    font-size:16px ;
    border:1px solid #ddd;
    background-color:white ;
}
input#Add2{
    width:200px;
    outline: none;
    border-radius: 4px;
    padding: 7px;
    font-size:16px ;
    border:1px solid #ddd;
    background-color:white ;
}
input#Add3{
    width:200px;
    outline: none;
    border-radius: 4px;
    padding: 7px;
    font-size:16px ;
    border:1px solid #ddd;
    background-color:white ;
}
input#Add4{
    width:200px;
    outline: none;
    border-radius: 4px;
    padding: 7px;
    font-size:16px ;
    border:1px solid #ddd;
    background-color:white ;
}
input#branch{
    width:200px;
    margin-left:20px ;
    outline: none;
    border-radius: 4px;
    padding: 7px;
    font-size:16px ;
    border:1px solid #ddd;
    background-color:white ;
}
input#generic{
    width:200px;
    margin-left:15px;
    outline: none;
    border-radius: 4px;
    padding: 7px;
    font-size:16px ;
    border:1px solid #ddd;
    background-color:white ;
}
input#quantity{
    width:200px;
    margin-left:70px ;
    outline: none;
    border-radius: 4px;
    padding: 7px;
    font-size:16px ;
    border:1px solid #ddd;
    background-color:white ;
}
input#call1{
    width:50px;
    outline: none;
    border-radius: 4px;
    padding: 7px;
    font-size:16px ;
    border:1px solid #ddd;
    background-color:white ;
}
input#call2{
    width:200px;
    margin-left:10px ;
    outline: none;
    border-radius: 4px;
    padding: 7px;
    font-size:16px ;
    border:1px solid #ddd;
    background-color:white ;
}
#type{
    width:200px;
    outline: none;
    border-radius: 4px;
    padding: 7px;
    font-size:16px ;
    border:1px solid #ddd;
   
}

#Submit{
    width:100px;
    outline: none;
    margin-left: 50px;
    border-radius: 4px;
    padding: 7px;
    font-size:20px ;
    border:1px solid yellow;
    background-color: transparent;
    color:yellow;
}
#reset{
    width:100px;
    margin-left: 100px;
    outline: none;
    border-radius: 4px;
    padding: 7px;
    font-size:20px ;
    border:1px solid yellow;
    background-color: transparent;
    color:yellow;
}