*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:sans-serif ;
}
body{
    background: url(admin_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:170vh;
    width:100vw;
   
}
.wrapper{
    margin: 30px 50px;
   
}
.insider-wrapper{
   
    
    background: rgba(0, 0, 0, 0.7);
}
 h2{
   padding:80px 20px;
   text-decoration: underline;
    color:white;
}
.main{
    padding:40px 20px;
    color:white;
    
}
