
.wrapper{
    margin-top: 30px 10px 30px 10px;
  
   
}
.insider-wrapper{ 
    background: rgba(0, 0, 0, 0.6);
}
 h2{
   padding:80px 20px;
   text-decoration: underline;
    color:white;
}
.main{
    padding:40px 20px;
    color:white;
    
}
