
.add-Executive{
  /* border: 2px solid white; */
  /* background-color: rgba(97, 97, 97, 0.5); */
}
/* ::-webkit-scrollbar{
  width: 10px;
} */
body{
  overflow-y: none;
}
.add-Executive{
  /* border: 2px solid wh; */
}
.nav .assign, .active {
  color: rgb(255, 10, 10) ; 
  
}

.exe{
  margin-top: 5px;
  margin-left: 120px;
  color:  black;
}
.input-type{
  
  width: 300px;
  padding: 4px;
  margin-top: 7px;
  margin-left: 150px;
}
h5{
  margin-top: 20px;
  margin-left: 150px;
  color: black;
}
.dt{
  margin-left: 150px;
  /* width: 400px; */
}
.btn-1, .btn-2{
  margin-top: 25px;
  height: 40px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(24, 24, 24);
 padding: 5px;
  font-family: sans-serif;
  font-size: 15   px;
  color: white;
}
.btn-1{
    width: 200px;
  margin-left: 120px;
  margin-bottom: 20px;

}
.btn-2{
    width: 100px;
  margin-left: 10px;
  margin-bottom: 20px;
}
