/* body{
    background-image: url(bg13.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    /* background-color: lightblue; */
} */

.layout{
  /* background-color:rgb(41, 38, 38,0.5) ; */
}
.content-body{
  /* background-color: rgb(186, 207, 206); */
}
.web-name{
    /* color: white; */
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin-left: 20px;
  
  }
 .web{
    color: rgb(255, 10, 10);
      font-size: 80px;
      font-weight: bold;
    font-family: 'cursive';
    text-align: center;
 }
 
 .nav a{
    padding: 10px 20px;
    text-decoration: none;
    /* color: white; */
    color: black;
  }
 .nav {
   display: inline-block;
   /* color: white; */
   color: black;
   text-align: center;
   font-size: 17px;
   font-weight: bold;
   
 }
 .nav a:hover {
    color: rgb(255, 10, 10);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
  }
  


/* footer   */
.F{
  padding: 4px;
  /* background-color: rgba(41, 3, 3, 0.5) ; */
 background-color: rgb(228, 228, 228);
 }
 .first-col{
   padding: 5px 10px 5px 80px;
   font-size: 20px;
 }
 
 .med{
   margin: 10px;
   font-size: 15px;
   /* text-align: ce; */
 }
 .contact{
   padding: 10px;
 }
 
 .register{
   margin-left: 100px;
 }
 .feedback{
   padding:10px ;
   text-align: center;
   /* border: 2px solid black; */
 }
 