body{
    background-color:#f9f9f9;
    overflow-x: hidden;
  }
  .con{
    border-radius:0.75rem;
    padding:20px;
    /* background-color: pink; */
    animation-duration: 1s;
    animation-name: fadeInRight;
  }
  .wrapper{
    width:55vw;
    margin-top:4rem;
    margin-left: auto;
    margin-right: auto;
  }
  .heading{
    margin-left:3vw;
    width:fit-content;
  }
  @keyframes fadeInRight{
    0% {
      opacity: 0;
      transform: translateX(20vw);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
  }
  .hf{
    width:48%;
    margin-top:16px;
}
.f{
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
}