body{
    overflow-y: hidden;
    height: 100vh;
}
.login{
    width:48vw;
    height: 92vh;
}
.image{
    width:55vw;
}
.illus{
    width:100%;
}
.wrapper{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:3rem;
}
.new-user{
    font-weight: 300;
    margin-top:20px;
    font-size: 1.2rem;
}
/* body{
    /* background-image: url(bg5.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
     */
     /* background-color: lightcoral; */
/* }

.row{
    height: 620px;
    
}
.loginborder{
    border: 1px solid black;
    text-align: center; */
    /* background-color:rgba(0,0,0,0.5); */
    /* background-color: white; */

    /* border-radius:10px;
    
    margin-right:100px;
    height: 500px;
    font-family: sans-serif;
    box-shadow: 2px 2px 15px;
}

.content{
    color: black;
    margin-top: 50px;
    font-style: bold;
}
.detailes
{   
    padding:10px;
    margin:10px 0;

}
.btn{
   border-radius: 15px;
    width: 300px;
    color: aliceblue;
    font-style: bold;
    font-size: 15px;
    background-color: black;
}
.input-box{
    width: 300px;
    height:30px;
    border-radius: 6px;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
    
}
a{ */
 /* color: black; */
/* }
p{ */
    /* font-weight: bold; */
    /* color: black; */
/* }
.forget{
    margin-top: 15px;
} */ 