
  .nav .home , .active {
    color: rgb(255, 10, 10) ; 
    
  }
  
  
  /* body  */
  .box-col{
    background: rgba(0, 0,0, 0.9);
   border-radius: 15px;
   padding: 25px;
  }
 
.para1{
    color:white;
    font-size: 17px;
    padding-left:33px ;
    
}
.mainlogo{
   border-radius: 50px;
   background-color: plum;
   height: 100px;
   width: 350px;
    margin-left:30px ;
    padding-top: 5px;
}
.logo{
    width:30%;
   padding-left:10px ;
   /* margin-top: -5px; */
   
}
.logo img{
    width:100%;
    border-radius: 50px;
    border:2px solid white;
}
.Saviour{
    font-size: 22px;
    font-weight: bold;
    padding-left:55px;
   
}
.oumds{
    font-size: 12px;
    padding-left: 5px;
    width: 200px;
    
}



