body{
    overflow-y: hidden;
    height: 100vh;
}
.login{
    width:45vw;
    height: 92vh;
}
.image{
    width:55vw;
}
.wrapper{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:3rem;
}
.new-user{
    font-weight: 300;
    margin-top:20px;
    font-size: 1.2rem;
}
.hf{
    width:48%;
}
.illus{
    width:100%;
    opacity:0.8;
}